body {
    background-color: black;
}

.container {
    margin-top: 10%;
    margin-left: 50%;
    width: 200px;
    height: 200px;
    background-color: violet;
    border-radius: 10px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.container:active {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
    background-color: green;
}

h1 {
    margin-left: 47%;
    color: white;
}

p {
    margin-left: 47%;
    color: white;
}

